<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="coroclas.css">
   

</head>
<body>

    <div class="btn-group">
        <div class="row">
           
                <a href="/teacher"><button class="column">Teacher</button></a> 
                       
                <button class="column">Student</button>
        </div>
        <div class="row">
                       
                <button class="column">Information</button>
                      
                <button class="column">Donation</button>
           
        </div>
           
      </div>
     
</body>
</html>