<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="teacher.css">
    
</head>
<body style="background-color: #3b404e;">


<div style="margin: 65px 160px; border: 5px solid #171717; border-radius: 5px; background-color: azure;">
  <!-- <form action="/action_page.php"> -->
    <form style="padding: 25px;font-size: 2rem;">
    <label for="tlnk">Student Session's link: <span id="copytext" style="border:2px solid black;padding: 3px 5px;background-color:#ececec; font-size: 1.5rem" >localhost:1690/session/<%=data._id%></span></label>


        <button onclick="myFunction()" style="padding: 10px;font-size: 2rem;border:3px solid #171717;border-radius: 5px;background-color: #45e0a0;float: right;">Copy link</button>
        <br>
        <br>
    <a href="/session/<%=data._id%>/teacher" style="padding: 10px 15px;font-size: 2rem;border:3px solid #171717;border-radius: 15px;background-color: #1eaafc;color: #e9e9e9; text-decoration: none;">Start Session</a>
    </form>
</div>
<script>

function myFunction() {
  var aux = document.createElement("input");

// Assign it the value of the specified element
aux.setAttribute("value", document.getElementById('copytext').innerHTML);

// Append it to the body
document.body.appendChild(aux);

// Highlight its content
aux.select();

// Copy the highlighted text
document.execCommand("copy");

// Remove it from the body
document.body.removeChild(aux);
   alert("Copied the text: " + copytext.innerHTML);
}

    </script>
    
</body>
</html>