input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=start] {
    width: 100%;
    background-color: #50b325;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=start]:hover {
    background-color: #40732a;
  }

  input[type=submit] {
    width: 100%;
    background-color: #50b325;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #40732a;
  }
  
  input[type=file] {
   
    background-color: #50b325;
    color: black;
    padding: 7px 14px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=file]:hover {
    background-color: #40732a;
  }
  
  
  div {
    color: #b6b6b6;
    border-radius: 5px;
    background-color: #23232e;
    padding: 20px;
  }
  