<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="teacher.css">
</head>
<body>


<div>
  <form action="/teacher" method="post" enctype="multipart/form-data">
    <label for="fname">First Name</label>
    <input type="text" id="fname" name="name" placeholder="Your name..">

    <label for="cname">Class Name</label>
    <input type="text" id="cname" name="classname" placeholder="Your class name..">

    <label for="image">Image Upload</label>
    <br>
    
    <input type="file" id="myFile" name="pptimages" multiple>
     
      
    <input type="submit" value="Submit">
  </form>
</div>

</body>
</html>