<!DOCTYPE html>
<html>
<head>
    
    <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap"
    rel="stylesheet"
    />
</head>
<style>
    :root {
    font-size: 16px;
    font-family: 'Open Sans';
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --transition-speed: 500ms;
    
  }
  
  body {
    color: var(--bg-primary);
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  body::-webkit-scrollbar {
    width: 0.25rem;
  }
  
  body::-webkit-scrollbar-track {
    background: #1e1e24;
  }
  
  body::-webkit-scrollbar-thumb {
    background: #51cf1b;
  }
  </style>
<body>
    <h1>
        SORRY!!
    </h1>

<h2>This page is under development </h2>